nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #24CA68;
    color: white;

}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    margin: 10px;

}

.nav_container nav{
    justify-content: space-between;
    
}

.profile_section{
    display: flex;
    align-items: center;
}
.icon{
    margin-right: 10px;
}

.title h1{
    color: rgb(255, 255, 255);
    display: flex;
    margin-right: 140px;
}