
:root{
    --primary: #24CA68;
}

.content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;

}

.login_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
    margin-top: 100px;

}

.span_login {
    font-size: 0.8rem;
    color: var(--primary);
    text-align: center;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
}

.span_login:hover{
    color: #000;
}

.signup {
    width: 100%;
    display: flex;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
}



.signup p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup a {
    text-decoration: none;
    color: var(--primary);
    margin-left: 5px;
}
.signup a:hover{
    text-decoration: underline;
}
.buttons-signup{
    display: flex;
    gap: 10px;
}