.filters {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin: 50px auto;

}
@media screen and (max-width: 1100px) {
    .filters{
        width: 90%;
        gap: 0;
        flex-direction: column;
        
    }
}


.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bin_content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.bin_content p {
    margin: 0;


}