.container{
   display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: auto 300px;
    
}

.filters{
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    gap: 40px;
}

.search-bar{
    display: flex;
    margin-top: 90px;
}

