

.filters{
    width: auto;
    display: flex;  
    justify-content: space-evenly;   
    align-items: center;
    justify-content: center;
    margin: 40px 20% 30px 20%;
  
    
}


.search_bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bin_content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bin_content p{
    margin: 0;

}

